
body {
	line-height:24px;
	color:#666666;
	font-size:16px;
	font-weight:300;
	padding:0;
	margin:0;		
}

body,
html {
	overflow-x:hidden !important;
}
a,
a:hover,
a:focus {
	text-decoration:none;
	outline:none;
}

.zoomimg img {
	transform: translateZ(0) !important;
	-webkit-transform: translateZ(0) !important;
	vertical-align:top;
	outline:none;
	max-width:100%;
	height:auto;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.zoomimg {
    display: inline-block;
    vertical-align: top;
}

.zoomimg img {
    width: 100%;
	height:auto;
}


.zoom-wrap {
	position:relative;
	overflow:hidden;
}

.zoom-wrap a {
	display:block;
}

.zoom-wrap .fadef {
	width:0;
	height:0;
	left:50%;
	top:50%;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}

.zoom-wrap:hover .fadef {
	opacity:0.8;
	width:100%;
	height:100%;
	left:0;
	top:0;
}


.zoom-wrap {
	position:relative;
	overflow:hidden;
}
.zoom-wrap a {
	display:block;
}
.zoom-wrap .fadef {
	width:0;
	height:0;
	left:50%;
	top:50%;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}

.zoom-wrap:hover .fadef {
	opacity:0.8;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.zoom-wrap:hover .view_link {
	visibility:visible;
	opacity:1;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}
.fadef {
	opacity:0.6;
}

.fadef {
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:#0099FF;
	z-index:5;
	opacity:0;
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
}
.fadef {
	width:0;
	height:0;
	left:50%;
	top:50%;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}

.zoom-wrap:hover .fadef {
	opacity:0.8;
	width:100%;
	height:100%;
	left:0;
	top:0;
}


.fixico {
	position:absolute;
	left:50%;
	top:50%;
	margin:-30px 0 0 -30px;
	z-index:10;
	width:60px;
	height:60px;
	background-color:transparent;
	font-size:20px;
	line-height:58px;
	text-align:center;
	border-radius:50%;
	-webkit-border-radius:50%;
	border:1px #fff solid;
	color:#fff;
	display:block;
	visibility:hidden;
	opacity:0;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	font-size:20px;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
}
.fixico i {
	color:#fff;
	font-size:20px;
	line-height:57px;
	display:inline-block;
	vertical-align:top;
	padding-top:0;
}

.fixico:hover {
	background-color:#fff;
}

.zoom-wrap:hover .fixico {
	visibility:visible;
	opacity:1;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}

.fixico:hover,
.fixico:hover i {
	color:#f25253;
}



@media only screen and (max-width: 767px) {

.zoomimg {
		width: 100%;
	}
}		